.search__container--bar {
    padding: 1% 5%;
    margin: 4%;
    text-align: center;
}

.search__container--sort {
    width: 50%;
    padding: 1% 5%;
    margin: 4%;
    text-align: center;
    background-color: #217065;
    color: #fff;
    font-size: 1.2em;
}

.search__container--bar input[type=text], select, textarea {
    padding: 1% 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-align: center;
}

.search__container h2{
    text-align: center;
    font-size: 3rem;
    color: #fff; 
    -webkit-text-stroke: 1px #000;
    padding-top: 20px;
}

.search__container--term{
    font-size: 1.2em;
    width: 50%;
    text-align: center;
}

